*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    /* background-image: linear-gradient(135deg, #0f0f0f, #2c2c2c, #1a1a1a); */
    height: 100vh;
    background-image: url(background-car4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.int{
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
    border-bottom: 1px solid gray;
}

.logo{
    width: 140px;
}

.int ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.int ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.login-btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border-top-right-radius: 0px;
    transition: 0.5s;
}

.login-btn:hover{
    border-top-right-radius: 30px;
    background-color: darkslategray;

}

.t-btn:hover{
    color: grey;
    transition: 0.5s;
}

.content{
    margin-top: 10%;
    padding: 0px 20px;
}

.content h1{
    font-size: 50px;
    color: white;
    text-shadow: 5px 8px 8px black;
    font-family: 'Montserrat',sans-serif;
    animation-delay: 0.5s;
}

.content a{
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    padding: 10px 50px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border-top-left-radius: 0px;
    transition: 0.5s;
    animation-delay: 1s;
}

.exbtn:hover{
    border-top-left-radius: 30px;
    background-color: darkslategray;
}

/* .bckimg{
    width: 530px;
    position:absolute;
    bottom: 0;
    right: 10%;

} */

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.np{
    height: 100vh;
    font-size: 50px;
    color: white;
    animation-delay: 0.5s;
    background-image: linear-gradient(135deg, #0f0f0f, #2c2c2c, #1a1a1a);
    border-top: 1px solid rgba(255,255,255,0.05);
    padding: 10px 20px;
}

html{
    scroll-behavior: smooth;
}

.texts{
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 8px 8px #0B0B0B;
    font-size: 40px;
    animation-delay: 0.5s;
    justify-content: space-between;

}

.about{
    height: 40vh;
    border-top: 1px solid rgba(255,255,255,0.05);
    padding: 0px 20px;
    margin-top: 5%;

}

.abt h1{
    text-align: center;
    padding: 5px 0px;
}

.abt p{
    font-size: 20px;
    font-family: system-ui,sans-serif;
    margin-top: 5%;
    padding: 10px 200px;

}




html{
    scroll-behavior: smooth;
}

.footer{
    height: 50vh;
    background-color: black;
}

.lst{
    display: flex;
    padding: 150px 500px;
    justify-content: space-between;
    align-items: center;

}

.lst ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

.lst ul li a{
    text-decoration: none;
    color: white;
}

.gallery{
    height: 80%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
}

.image-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;

}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.image-box:hover{
    flex-basis: 50%;
}

.active{
    flex-basis: 50%;
}

.gallery:hover .active{
    flex-basis: 0;
}

.image-box:nth-child(1):hover{
    flex-basis: 50%;
}

.texts ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.btnsec{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid gray;
    box-shadow: -2px 8px 8px black;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    /* transform: translateY(2px); */
    /* border-top-right-radius: 0px; */
    transition: 0.5s;
    /* animation: 1s; */

}

.btnsec:hover{
    /* border-top-right-radius: 30px; */
    transform: translateY(-2px);
    background-color: #0B0B0B;

}
