*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

.hero{
    /* background-image: linear-gradient(135deg, #0f0f0f, #2c2c2c, #1a1a1a); */
    height: 100vh;
    background-image: url(background-car4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

nav{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.login-btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(135deg, #00c6ff, #0072ff);
    border-radius: 30px;
    border-top-right-radius: 0px;
    transition: 0.5s;
}

.login-btn:hover{
    border-top-right-radius: 30px;
    background-image: linear-gradient(120deg, #2f2f2f, #3805c2);

}

.t-btn:hover{
    color: grey;
    transition: 0.5s;
}

.content{
    margin-top: 10%;
    padding: 0px 20px;
}

.content h1{
    font-size: 50px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-delay: 0.5s;
}

.content a{
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    padding: 10px 50px;
    color: white;
    background-image: linear-gradient(135deg, #00c6ff, #0072ff);
    border-radius: 30px;
    border-top-left-radius: 0px;
    transition: 0.5s;
    animation-delay: 1s;
}

.exbtn:hover{
    border-top-left-radius: 30px;
    background-image: linear-gradient(120deg, #2f2f2f, #3805c2);
}

/* .bckimg{
    width: 530px;
    position:absolute;
    bottom: 0;
    right: 10%;

} */

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.np{
    height: 100vh;
    font-size: 50px;
    color: white;
    animation-delay: 0.5s;
    background-image: linear-gradient(135deg, #0f0f0f, #2c2c2c, #1a1a1a);
    border-top: 1px solid rgba(255,255,255,0.05);
    padding: 10px 20px;
}

html{
    scroll-behavior: smooth;
}

.texts{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    animation-delay: 0.5s;

}




